{% extends 'posapp/base.html' %}
{% load static %}
{% block content %}
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{% static '/images/logo.png' %}" alt="" width="72" height="57">
      <h2>POS Screen</h2>
    </div>

    <div class="row g-3">
      <div class="col-md-5 col-lg-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Current Order</span>
        </h4>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span>Total (PHP)</span>
          <span id="totamt"> 0.00 </span>
        </h4>
        <ul class="list-group mb-3" id="ord">
        </ul>
        <form method="POST" action=""> 

          <h4 class="mb-3">Payment Type</h4>
          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="payment_method" type="radio" class="form-check-input" value=1>
              <label class="form-check-label" for="credit">Cash </label>
            </div>
            <div class="form-check">
              <input id="debit" name="payment_method" type="radio" class="form-check-input" value=2>
              <label class="form-check-label" for="debit">Credit card</label>
            </div>
          </div>
          <input type="hidden" name="complete_order" id="complete_order" value="">  
          <input type="hidden" name="total_amount" id="total_amount" value="">  
          <button type="submit" class="btn btn-primary" id="cls">Close Order</button>
        </form>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Items for sale</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Item Name</th>
                  <th scope="col">Item Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class = "item-name">Item1</td>
                  <td class = "item-price">PHP 100</td>
                  <td>
                    <input type="number" class="form-control" value = 0>
                    <input type="hidden" class="form-control" value = {{i.pk}}>
                  </td>
                  <td><button class="btn btn-primary">Add</button></td>
                </tr>
                <tr>
                  <td class = "item-name">Item 2</td>
                  <td class = "item-price">PHP 200</td>
                  <td>
                    <input type="number" class="form-control" value = 0>
                    <input type="hidden" class="form-control" value = {{i.pk}}>
                  </td>
                  <td><button class="btn btn-primary">Add</button></td>
                </tr>
                <tr>
                  <td class = "item-name">Item 3</td>
                  <td class = "item-price">PHP 300</td>
                  <td>
                    <input type="number" class="form-control" value = 0>
                    <input type="hidden" class="form-control" value = {{i.pk}}>
                  </td>
                  <td><button class="btn btn-primary">Add</button></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2020 POS COmpany</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Configure Items</a></li>
    </ul>
  </footer>
</div>

      <script src="{static % '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
      $(document).ready(function(){
            $('.itembut').click(function() {
              var amt = $( this ).parent().parent().find(".lineamount").val();
              var nme = $( this ).parent().parent().find(".iname").html();
              var nmeid = $( this ).parent().parent().find(".nmeid").val();
              var prc = $( this ).parent().parent().find(".iprice").html();
              var tamt = parseFloat($( "#totamt").html());
              prc_amt = prc.split(" ")
              lt = parseFloat(prc_amt[1]) * parseFloat(amt)
              tamt = tamt + lt
              $( "#totamt").html(tamt.toFixed(2))
              stuff = " "
              stuff = stuff + '<li class="list-group-item d-flex justify-content-between lh-sm">'
              stuff = stuff + '<div>'
              stuff = stuff + '<h6 class="my-0 idnme">' + nme + '</h6>'
              stuff = stuff + '<small class="text-muted">' + prc_amt[1] + ' x <span class="idamt">' + amt + '</span></small>'
              stuff = stuff + '</div>'
              stuff = stuff + '<span class="text-muted"> PHP ' + lt.toFixed(2) + '</span>'
              stuff = stuff + '<input type="hidden" class="nmeid-ord" value ='+ nmeid +'>'
              stuff = stuff + '</li>'
              $( "#ord" ).append(stuff)
              $( this ).parent().parent().find(".lineamount").val(0);
              event.preventDefault()

            });
            $('#cls').click(function() {
              $('#ord li').each(function(i)
              {
                 var idnme = $(this).find(".idnme").html()
                 var idamt = $(this).find(".idamt").html()
                 var idid = $(this).find(".nmeid-ord").val()
                 var comb = idid+':'+idamt
                 $('#complete_order').val($('#complete_order').val() + comb + '-')
              });
              $('#total_amount').val($('#totamt').html())
            });

        });
    </script>
{% endblock %}


